<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [25]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [26]:
#Please uncomment and execute the code below if you are working locally.

!pip install ipython-sql

Requirement already satisfied: ipython-sql in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: prettytable in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython>=1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (7.33.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (5.9.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pygments in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.15.1)
Requirement already satisfied: backcall in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: importlib-metadata in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (4.11.4)
Requirement already satisfied: wcwidth in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: zipp>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (3.15.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-metadata->prettytable->ipython-sql) (4.5.0)

In [43]:
%reload_ext sql

In [44]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [45]:
!pip install -q pandas==1.1.5

In [46]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [47]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

**Note:This below code is added to remove blank rows from table**

In [48]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [59]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE')

# Fetch the results
launch_sites = cursor.fetchall()

# Print the unique launch sites
for site in launch_sites:
    print(site[0])

# Close the connection
conn.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [64]:
SELECT * FROM SPACEXTABLE WHERE launch_site LIKE 'CCA%' LIMIT 5;

SyntaxError: invalid syntax (2728663390.py, line 1)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [72]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query to calculate the total payload mass for NASA (CRS) boosters
cursor.execute("SELECT SUM('PAYLOAD_MASS__KG_') AS total_payload_mass FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)'")

# Fetch the result
result = cursor.fetchone()
total_payload_mass = result[0]

# Print the result
print("Total payload mass carried by NASA (CRS) boosters:", total_payload_mass)

# Close the connection
conn.close()

Total payload mass carried by NASA (CRS) boosters: 0.0

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [58]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query
cursor.execute('SELECT AVG("Payload_Mass__kg_") AS Average_Payload_Mass FROM SPACEXTABLE WHERE "Booster_Version" = "F9 v1.1"')

# Fetch the result
average_payload_mass = cursor.fetchone()[0]

# Print the average payload mass
print("Average Payload Mass for F9 v1.1:", average_payload_mass)

# Close the connection
conn.close()

Average Payload Mass for F9 v1.1: 2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [66]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query to find the date of the first successful ground pad landing
cursor.execute("SELECT MIN(date) AS first_successful_ground_pad_landing_date FROM SPACEXTABLE WHERE landing_outcome = 'Success (ground pad)'")

# Fetch the result
result = cursor.fetchone()
first_successful_date = result[0]

# Print the result
print("Date of the first successful ground pad landing:", first_successful_date)

# Close the connection
conn.close()

Date of the first successful ground pad landing: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [76]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query to fetch the names of boosters meeting the criteria
cursor.execute("SELECT 'Booster_Version' FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000")

# Fetch the results
results = cursor.fetchall()

# Print the names of the boosters
print("Boosters with success in drone ship landings and payload mass between 4000 and 6000:")
for row in results:
    print(row[0])

# Close the connection
conn.close()

Boosters with success in drone ship landings and payload mass between 4000 and 6000:
Booster_Version
Booster_Version
Booster_Version
Booster_Version

### Task 7




##### List the total number of successful and failure mission outcomes

In [77]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query to count the number of successful and failure mission outcomes
cursor.execute("SELECT COUNT(CASE WHEN mission_outcome = 'Success' THEN 1 ELSE NULL END) AS successful_outcomes, COUNT(CASE WHEN mission_outcome = 'Failure' THEN 1 ELSE NULL END) AS failure_outcomes FROM SPACEXTABLE")

# Fetch the result
result = cursor.fetchone()
successful_outcomes = result[0]
failure_outcomes = result[1]

# Print the total number of successful and failure mission outcomes
print("Total number of successful mission outcomes:", successful_outcomes)
print("Total number of failure mission outcomes:", failure_outcomes)

# Close the connection
conn.close()

Total number of successful mission outcomes: 98
Total number of failure mission outcomes: 0

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [80]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query with a subquery to find the booster versions with maximum payload mass
cursor.execute("""
    SELECT 'booster_version'
    FROM SPACEXTABLE
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE)
""")

# Fetch the results
results = cursor.fetchall()

# Print the names of the booster versions with maximum payload mass
print("Booster versions with maximum payload mass:")
for row in results:
    print(row[0])

# Close the connection
conn.close()

Booster versions with maximum payload mass:
booster_version
booster_version
booster_version
booster_version
booster_version
booster_version
booster_version
booster_version
booster_version
booster_version
booster_version
booster_version

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [82]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query to fetch the records for 2015 with failure landing outcomes in drone ship
cursor.execute("""
    SELECT 
        CASE
            WHEN substr(date, 6, 2) = '01' THEN 'January'
            WHEN substr(date, 6, 2) = '02' THEN 'February'
            WHEN substr(date, 6, 2) = '03' THEN 'March'
            WHEN substr(date, 6, 2) = '04' THEN 'April'
            WHEN substr(date, 6, 2) = '05' THEN 'May'
            WHEN substr(date, 6, 2) = '06' THEN 'June'
            WHEN substr(date, 6, 2) = '07' THEN 'July'
            WHEN substr(date, 6, 2) = '08' THEN 'August'
            WHEN substr(date, 6, 2) = '09' THEN 'September'
            WHEN substr(date, 6, 2) = '10' THEN 'October'
            WHEN substr(date, 6, 2) = '11' THEN 'November'
            WHEN substr(date, 6, 2) = '12' THEN 'December'
        END AS month_name,
        landing_outcome,
        booster_version,
        launch_site
    FROM SPACEXTABLE
    WHERE substr(date, 0, 5) = '2015' AND landing_outcome = 'Failure (drone ship)'
""")

# Fetch the results
results = cursor.fetchall()

# Print the records
print("Records for failure landing outcomes in drone ship for the months in 2015:")
for row in results:
    print(row)

# Close the connection
conn.close()

Records for failure landing outcomes in drone ship for the months in 2015:
('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [83]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')
cursor = conn.cursor()

# Execute the SQL query to rank the landing outcomes count in descending order
cursor.execute("""
    SELECT landing_outcome, COUNT(*) AS outcome_count
    FROM SPACEXTABLE
    WHERE date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY landing_outcome
    ORDER BY outcome_count DESC
""")

# Fetch the results
results = cursor.fetchall()

# Print the ranked landing outcomes count
print("Ranking of landing outcomes count between 2010-06-04 and 2017-03-20:")
for rank, row in enumerate(results, 1):
    print(f"Rank {rank}: {row[0]} - {row[1]} counts")

# Close the connection
conn.close()

Ranking of landing outcomes count between 2010-06-04 and 2017-03-20:
Rank 1: No attempt - 10 counts
Rank 2: Success (drone ship) - 5 counts
Rank 3: Failure (drone ship) - 5 counts
Rank 4: Success (ground pad) - 3 counts
Rank 5: Controlled (ocean) - 3 counts
Rank 6: Uncontrolled (ocean) - 2 counts
Rank 7: Failure (parachute) - 2 counts
Rank 8: Precluded (drone ship) - 1 counts

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>